a {
    text-decoration: none;
}
body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
/* Estilos básicos para el encabezado */
header {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 64px;
    padding: 10px 15px;
    background-color: #042254;
    transition: 0.5s;
    align-items: center;
    z-index: 100;
}
header img {
    padding: 3px;
}
header p, header a, header label {
    color: #ffffff;
    margin: 0px 10px;
    margin-left: auto;
    text-decoration: none;
    transition: 0.2s;
}
header a:hover {
    transition: 0.2s;
    color: #e59a00;
}
h2 {
    background-color: #042254;
    color: white;
    padding: 15px 15px;
    border-radius: 5px;
}
.espaciador {
    flex-grow: 1;
}
.img-right {
    margin-left: auto;
}
.hidden {
    opacity: 0;
    pointer-events: none;
}
.titulo {
    color: white;
    text-align: center;
}
.div-titulo {
    display: flex;
    padding: 50px;
    justify-content: center;
    position: absolute;
    margin-top: 95px;
    width: 100%;
    /* border: 1px solid violet; */
}
.img-user {
    height: 35px;
    margin-right: 10px;
    transition: 0.2s;
}
.img-user:hover {
    transition: 0.2s;
    scale: 1.2;
}
/* Estilo para el spinner */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; /* Color del borde */
    border-top: 5px solid #3498db; /* Color del borde superior */
    border-radius: 50%;
    animation: girar 1s linear infinite;
}
.form-busqueda {
    display: flex;
    justify-content: center;
    padding: 2% 0%;
    /* border: 1px solid violet; */
    width: 70%;
}
.form-busqueda input {
    margin: 0px 10px;
}
.form-busqueda button {
    margin: 0px 10px;
}
.form-busqueda div {
    margin: 0px 10px;
}
.carousel-item img {
    height: 250px;
    object-fit: cover;
}
.contenedor-principal {
    width: 70%;
    padding: 20px;
    margin: auto;
    display: flex;
    /* border: 1px solid violet; */
}
.menu-lateral {
    min-width: 300px;
    max-width: 500px;
    display: flex;
    height:max-content;
    padding: 10px 10px 150px 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
}
.menu-lateral a {
    text-decoration: none;
    color: #052659;
}
.menu-lateral a:hover {
    transition: 0.2s;
    color: #e59a00;
}
.separador-vertical {
    width: 1px;
    background-color: gray;
    margin: 0px 20px;
}
.contenedor-oferta {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin: auto;
    display: flex ;
}
.contenedor-oferta form {
    padding: 25px 15px;
}
.contenedor-oferta form textarea {
    height: 150px;
}
.contenedor-button button {
    width: 100%;
    margin-bottom: 10px;
}
.div-radios {
    display: flex;
    justify-content: center;
}
.video-container{
    margin-top: 50px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color: black;
}
.video-container video {
    opacity: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.resultados{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /* border: 1px solid violet; */
}
.div-resultados {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 25px;
    background-color: white;
    margin: 0px 20px 20px 0px;
    border: 1px solid #e4e4e4;
    transition: 0.2s;
    width: 250px;
    font-size: 10pt;
    flex-grow: 1;
}
.div-resultados:hover {
    transition: 0.2s;
    scale: 1.02;
    border: 1px solid rgb(196, 196, 196);
    box-shadow: 0px 4px 8px rgba(22, 121, 202, 0.5);
}
.div-resultados h3 {
    width: 100%;
    margin-top: 20px;
    font-size: 14pt;
    flex-grow: 1;
}
.icono-company {
    background-color: #5483b3;
    width: 100%;
    height: 80px;
    padding: 12px;
    border-radius: 5px;
}
.icono-company img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.info-oferta {
    width: 100%;
    margin: 2px 0px;
    /* border: 1px solid violet; */
}
.info-contenedor-btn{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: end;
    /* border: 1px solid black; */
}
.info-contenedor-btn button{
    border: none;
    width: 150px;
    font-size: 10pt;
    background-color: #042254;
}

.info-contenedor-btn button:hover{
    background-color: #254d94;
}
.info-oferta-contacto {
    background-color: #578640;
    border: none;
    color: white;
    margin-left: 20px;
    width: 75px;
    font-size: 10pt;
    align-items: center;
    justify-content: center;
}
.info-oferta-contacto:hover {
    background-color: #74ad57;
}
.info-oferta-contacto a {
    color: white;
}
.info-oferta-contacto img {
    width: 20px;
}
.footer {
    width: 100%;
    height: 350px;
    position: relative;
    bottom: 0;
    margin-top: 50px;
    background-color: #171a1f;
}
.contenedor-perfil {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    padding-top: 80px;
}
.div-perfil {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}
.div-perfil h2 {
    width: 100%;
}
.div-perfil-izq {
    /* border: 1px solid violet; */
    flex-grow: 1;
}
.div-perfil-izq ul li {
    margin-top: 10px;
}
.div-perfil-izq ul li input {
    margin-bottom: 5px;
}
.div-perfil-izq ul li img {
    height: 200px;
    margin: 20px 20px 20px 0px;
}
.perfil-contenedor-btn {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: end;
    /* border: 1px solid violet; */
}


/* *********************************** */
/* *********************************** */
/* configuracion CSS por medio de id's */
/* *********************************** */
/* *********************************** */
#body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #042254;
}
#button {
    background-color: #5483b3;
    color: #052659;
    border:none;
    width: 100%;
}
#button:hover {
    background-color: #c1e8ff;
}
#miboton {
    background-color: #042254;
    border: none;
}
#miboton:hover {
    background-color: #254d94;
    border: none;
}
#miboton1 {
    background-color: #042254;
    border: none;
}
#miboton1:hover {
    background-color: #254d94;
    border: none;
}
#mostrar-filtros {
    border-radius: 0%;
    background-color: #5483b3;
    border: none;
    color: white;
}
#registro-div {
    width: 600px;
}
#registro-div-movil {
    width: 80%;
}
#error-contrasena {
    display: none;
    color: white;
    background-color: #dc3545;
    margin: 20px 0px;
    height: 35px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}
#alertaAplicacion {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1064;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
#alertaAplicacion div {
    width: 400px;
    height: 150px;
    background-color: #042254;
    color: white;
    text-align: center;
    align-content: center;
    border-radius: 5px;
}
#boton-cerrar:hover {
    background-color: #f54c5d;
}
#form-busqueda {
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
}


/* Estilos para el preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #042254;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 9999;
}
/* Animación de giro */
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}




@media (max-width: 768px) {
    /* Estilos básicos para el encabezado */
    header {
        display: flex;
        width: 100%;
        padding: 10px;
        background-color: #042254;
        transition: 0.5s;
        align-items: center;
        font-size: 10pt;
    }
    header img {
        padding: 3px;
    }
    header p, header a, header label {
        color: #ffffff;
        margin: 0px 10px;
        margin-left: auto;
        text-decoration: none;
    }
    .form-busqueda {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 10px;
    }
    .form-busqueda input {
        width: 90%;
    }
    .form-busqueda button {
        width: 90%;
    }
    .form-busqueda div {
        width: 90%;
        margin: 0px 10px;
    }
    .login-div-movil {
        width: 80%;
    }
    .div-titulo {
        margin-top: 70px;
    }
    .contenedor-oferta {
        width: 90%;
    }
    .contenedor-principal {
        flex-direction: column;
        width: 95%;    
    }
    .form-busqueda-contenedor {
        max-height: 0;
        overflow: hidden;
        transition: 0.5s;
    }
    .form-busqueda-contenedor.active {
        max-height: 200px;
        transition: 0.5s;
    }
    .video-container{
        width: 100%;
        height: 250px;
        overflow: hidden;
    }
    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #menu-desplegable {
        width: 65px;
        height: 65px;
        border-radius: 100%;
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 15px;
        border: none;
        background-color: #042254;
    }
    #menu-desplegable:active {
        background-color: #c1e8ff;
    }

}


@media (max-width: 480px) {
    .login-div-movil {
        width: 80%;
    }
}